@import "tailwindcss";

html {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* Chrome, Edge, Safari */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #09615a; /* teal-600 */
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #0f766e; /* teal-700 */
}

/* Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: #0d9488 #1f2937;
}
body {
  @apply bg-gradient-to-br from-teal-950 to-black dark:from-black dark:to-teal-950;
  min-height: 100vh;
}
